
###> symfony/framework-bundle ###
/vendor/
###< symfony/framework-bundle ###

###> project files ###
/.idea/*
*.phar
###< project files ###

.travis/phar-private.pem
/.travis/holger_maerz.pub
/audioMan.phar.asc
/build.sh
